<page>
    <title>$pageName</title>
    <revision>
        <contributor>
            <id>$adminUserId</id>
        </contributor>
        <text xml:space="preserve" bytes="112">{{#widget:YouTube|id=$pageVideoId}}

Вопрос: '''$pageName'''


Ответ ''Александра Геннадьевича'':

$pageContent


Источник: '''$pageSource'''

$pageKeywords

            [[Категория:$pageCategory]]</text>
        <format>text/x-wiki</format>
    </revision>
</page>
