<page>
    <title>$pageName</title>
    <revision>
        <contributor>
            <id>$adminUserId</id>
        </contributor>
        <text xml:space="preserve" bytes="112">{{#widget:YouTube|id=$pageVideoId}}

Вопрос: '''$pageName'''


Ответ Александра Геннадьевича:
{{#widget:Answer|text=$pageContent}}

#if( $hasSource )

''Источник: [https://www.youtube.com/results?search_query=$pageSourceEncrypted $pageSource]''

#end
Ключевые слова: $pageKeywords

            [[Категория:$pageCategory]]</text>
        <format>text/x-wiki</format>
    </revision>
</page>
